@section css{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.blueopal.min.css" rel="stylesheet" />
}

<div class="jumbotron">
    <h2>Lista Paises Fabricantes </h2>
    <a href="~/PaisFabricacion/ListaPaisFabricante" class="btn btn-success">Ver Lista de Paises</a>
    <br />
    <br />
    <div id="divKendoGrid">

    </div>

</div>

@section scripts{
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/jszip.min.js"></script>
    <script src="~/Scripts/scriptGenerico.js"></script>
    <script src="~/Scripts/PaisFabricacion/GridPaisFabricacion.js"></script>
}
