
@{
    ViewBag.Title = "ListaPaisFabricante";
}

<div class="jumbotron">
    <h2 style="text-align:center">Lista de Paises Fabricantes</h2>

    <a href="~/Home/PaginaPrincipal" class="btn btn-primary">Pagina Principal</a>

    <br />
    <br />
    <div class="container" style="background-color:azure;border:solid">
        <table class="table">
            <thead>
                <tr>
                    <th>Pais Fabricante </th>
                    <th>Codigo Pais</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (MVC_ProyectoP6.Models.sp_RetornaPaisFabricante_Result posicionModelo
                     in this.Model)
                    {
                        <tr>
                            <td>@posicionModelo.PaisFabricante</td>
                            <td>@posicionModelo.CodigoPaisFabricante</td>

                            <td>
                                <a href="~/PaisFabricacion/ModificaPaisFabricante?idPaisFabricante=@posicionModelo.idPaisFabricante" class="btn btn-primary">Modificar</a>
                                <a href="~/PaisFabricacion/EliminaPaisFabricante?idPaisFabricante=@posicionModelo.idPaisFabricante" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <br />
    
    <a href="~/PaisFabricacion/NuevoPaisFabricante" class="btn btn-success">Nuevo Pais</a>
    <a href="~/PaisFabricacion/GridPaisFabricacion" class="btn btn-primary">Reporte de Paises</a>
</div>









