
@{
    ViewBag.Title = "NuevoPaisFabricante";
}


<div class="jumbotron">
    <h2>NuevoPaisFabricante</h2>

    <form id="frmPaisFabricante" method="post">

        <div class="form-group">
            <label>Pais Fabricante</label>
            <input type="text" name="PaisFabricante" id="PaisFabricante" class="form-control" />
        </div>

        <div class="form-group">
            <label> Codigo Pais Fabricante</label>
            <input type="text" name="CodigoPaisFabricante" id="CodigoPaisFabricante" class="form-control" />
        </div>

        <div class="form-group">
            <input type="submit" value="Guardar" id="btnAceptar" class="btn btn-success" />
        </div>

        <a href="~/PaisFabricacion/ListaPaisFabricante" class="btn btn-primary">Lista Paises Fabricantes </a>

    </form>
</div>

@section scripts{

    <script src="~/Scripts/PaisFabricacion/ValidacionPaisFabricante.js"></script>

}

