@section css{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.blueopal.min.css" rel="stylesheet" />
}

<div class="jumbotron">
    <h2>Lista Encabezados Factura </h2>
    <a href="~/EncabezadoFactura/ListaEncabezadoFactura" class="btn btn-success">Ver Lista Encabezado Factura</a>

    <br />
    <br />
    <div id="divKendoGrid">

    </div>

</div>

@section scripts{
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/jszip.min.js"></script>
    <script src="~/Scripts/scriptGenerico.js"></script>
    <script src="~/Scripts/EncabezadoFactura/GridEncabezadoFactura.js"></script>
}
