
@{
    ViewBag.Title = "NuevoVehiculo";
}
<div class="jumbotron">
    <h2>Agregar Nuevo Vehiculo</h2>
    <form id="frmModificaVehiculo" method="post">

        <div class="form-group">
            <label>Placa Vehiculo </label>
            <input type="text" name="PlacaVehiculo" id="PlacaVehiculo" class="form-control" value="" />
        </div>

        <div class="form-group">
            <label>Tipo Vehiculo:</label>
            <select name="idTipoVehiculo" id="idTipoVehiculo" class="form-control">
                <option value="">Favor seleccione</option>
                @{
                    foreach (MVC_ProyectoP6.Models.sp_RetornaTipoVehiculo_Result ModeloTipoV in this.ViewBag.ListaTipoVehiculos)
                    {
                        <option value="@ModeloTipoV.idTipoVehiculo">@ModeloTipoV.TipoVehiculo </option>
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label>Tipo Marca:</label>
            <select name="idMarcaVehiculo" id="idMarcaVehiculo" class="form-control">
                <option value="">Favor seleccione</option>
                @{
                    foreach (MVC_ProyectoP6.Models.sp_RetornaMarcaVehiculo_Result ModeloTipoM in this.ViewBag.ListaTipoMarcaV)
                    {
                        <option value="@ModeloTipoM.idMarcaVehiculo">@ModeloTipoM.TipoMarcaVehiculo</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label>Cantidad Puertas</label>
            <input type="number" name="NumeroPuertas" id="NumeroPuertas" class="form-control" />
        </div>
        <div class="form-group">
            <label>Cantidad Ruedas</label>
            <input type="number" name="NumeroRuedas" id="NumeroRuedas" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Agregar" id="btnAgregar" class="btn btn-success" />
        </div>
    </form>
    <a href="~/Vehiculos/ListaVehiculoS" class="btn btn-primary">Lista Vehiculos</a>
</div>

@section scripts{
    <script src="~/Scripts/Vehiculos/ValidacionesVehiculo.js"></script>
}



