@{
    ViewBag.Title = "Contactenos";
}


<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>
    <h3>Un Gusto Atenderle!!!</h3>
    <address>
        Puriscal,San Jose Costa Rica<br />
        Universidad Castro Carazo, Estudiantes<br />
        <abbr title="Phone">Telefono:</abbr>
        +506-0000-1111
    </address>

    <address>
        <strong>Soprte:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Anuncio:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>