@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Inicio</h1>
    <p class="lead">
        ASP.NET MVC Programacion 6 Proyecto Bienvenido Sea A Nuestra Pagina Prueba <br />
        Es Un gusto Estar A Su Servicio, Recordar Iniciar sesion Para Acceder A  <br />
        Todas Las Funcionalidades Del Sistema
    </p>
    <!--Contenedor De Formulario-->
    <div class="container" style="background-color: #fafafa; border: 1px solid #ccc">
        <div class="row">
            <!--Formulario-->
            <form method="post" id="frmInicioSesion" style="margin-bottom: 5px;margin-top:5px">
                <!--Divs De Los Inputs-->
                <div style="padding-left: 10px;padding-right: 10px;margin-left: 35%;margin-right: 30%;max-width: 100%;border: 1px solid #808080">
                    <h2 class="text-center">Inicio Sesion</h2>
                    <div class="form-group">
                        <i class="fas fa-user" style="float:left"></i>
                        <input type="text" name="Correo" id="Correo" class="form-control" placeholder="Username" style="max-width:90%">
                    </div>

                    <div class="form-group">
                        <i class="fas fa-lock" style="float:left"></i>
                        <input type="password" name="Contrasenia" id="Contrasenia" class="form-control" placeholder="Password"  style="max-width:90%">
                    </div>

                    <label class="pull-left checkbox-inline" style="padding-bottom:15px"><input type="checkbox"> Recordar Datos</label>

                    <!--Boton Inicio Sesion-->
                    <div style="padding-left:10px;padding-right:10px;padding-bottom:15px">
                        <div class="clearfix" style="max-width:100%;text-align:center;padding-bottom:5px">
                            <button type="button" id="btnAceptar" class="btn btn-success btn-block">Iniciar Sesion</button>
                        </div>
                    </div>
                    <!--Fin Boton-->
                    <!--Botones-->
                    <p class="text-center"><a href="#" class="btn btn-info">Crea Tu Cuenta</a></p>
                    <p class="text-center"><a href="#" class="btn btn-warning">Nueva Clave?</a></p>
                    <!--Fin De Botones-->
                </div>
                <!--Fin Inputs-->
            </form>
            <!--Fin Formulario-->
        </div>
    </div>
    <!--Fin Contenedor-->
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>

<!-- Modal Exitoso-->
<div id="myModal" class="modal fade bd-example-modal-sm" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="color:aliceblue;background-color:green">
                
                <h4 class="modal-title">Inicio Exitoso!</h4>
            </div>
            <div class="modal-body">
                
                          <h3 id="Bienvenida"></h3>
            </div>
            <div class="modal-footer">
                <p>........Espere Por Favor</p>
            </div>
        </div>
    </div>
</div>
<!--Modal-->
<!--Modal De Error-->
<div id="myModal1" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="color:aliceblue;background-color:red">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error Al Iniciar!!</h4>
            </div>
            <div class="modal-body">
                <h3>No Se Pudo Ingresar Al Sistema</h3>
                <p>Verifique Su Clave O Correo</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Usuarios/InicioSesion.js"></script>
}

