@section css{

    <link href="~/Content/CarouselSprite.css" rel="stylesheet" />
}


<div class="jumbotron">
    <h2 style="text-align:center" id="tipoUsuarioActual"></h2>
    <h3 id="Bienvenida"></h3>
    <p>
        Aqui Encontrara Las Opciones Disponibles
        Para Realizar En El Sistema Tales Como
        Listar/Crear/Modificar/Eliminar Y Generar Reportes
    </p>
    <br />

    <div id="clienteActualDatos"></div>
    <br />
    <br />
    <a href="~/EncabezadoFactura/ListaFacturasClienteActual" class="btn btn-primary">Mis Facturas</a>
    <br />
    <br />
    <a href="~/Vehiculos/ListaVehiculosClienteActual" class="btn btn-primary">Mis Vehiculos</a>
    <br />
    <br />
    <a id="admi" href="~/Usuarios/ListaUsuario" class="btn btn-primary">Lista Usuarios</a>
    <a id="admi1" href="~/Vehiculos/ListaVehiculoS" class="btn btn-primary">Lista Vehiculos</a>
    <a id="admi2" href="~/VehiculoXcliente/ListaVehxClie" class="btn btn-primary">Lista Vehiculos Por Cliente</a>
    <a id="admi3" href="~/TipoVehiculo/ListaTipoVehiculos" class="btn btn-primary">Lista Tipo Vehiculos</a>
    <a id="admi4" href="~/MarcaVehiculo/ListaMarcaVehiculos" class="btn btn-primary">Lista Marca Vehiculos</a>
    <a id="admi5" href="~/PaisFabricacion/ListaPaisFabricante" class="btn btn-primary">Lista Paises</a>
    <a id="admi6" href="~/ServicioOProducto/ListaServicioOProducto" class="btn btn-primary">Lista Servicio Producto</a>
    <a id="admi7" href="~/EncabezadoFactura/ListaEncabezadoFactura" class="btn btn-primary">Lista Encabezado Factura</a>
    <a id="admi8" href="~/DetalleFactura/ListaDetalleFactura" class="btn btn-primary">Lista Detalle Factura</a>
    <a id="admi9" href="~/PaisFabricacion/GridPaisFabricacion" class="btn btn-primary"> grid Pais Fabricacion</a>
    <a id="admi10" href="~/MarcaVehiculo/GridMarcaVehiculo" class="btn btn-primary"> grid Marca vehiculo</a>
    <a id="admi11" href="~/ServicioOProducto/GridServicioOProducto" class="btn btn-primary">grid SOP</a>
    <a id="admi12" href="~/TipoVehiculo/GridTipoVehiculo" class="btn btn-primary"> grid tipo vehiculo</a>
    <a href="~/Vehiculos/GridVehiculos" class="btn btn-primary">grid  vehiculo</a>
    <a href="~/VehiculoXcliente/GridVehiculosXCliente" class="btn btn-primary">grid vehiculoxcliente </a>
    <a href="~/Usuarios/GridClientes" class="btn btn-primary">grid clientes</a>
    <a href="~/DetalleFactura/GridDetalleFactura" class="btn btn-primary">grid detalle Factura </a>
    <a href="~/EncabezadoFactura/GridEncabezadoFactura" class="btn btn-primary">grid encabezado Factura</a>
    <a href="~/Reportes/ReporteServicioXCliente" class="btn btn-primary">Reporte Servicio X Cliente </a>
    <a href="~/Reportes/ReporteServicioXVehiculo" class="btn btn-primary"> Reporte Servicios X Vehiculo</a>
    <a href="~/Reportes/ReporteVehiculosXCliente" class="btn btn-primary"> Reporte  vehiculos X Cliente</a>
    <br />
    <br />

    <div class="container" id="divContenendorContenido">
        <h1 class="text-center"> Servicios </h1>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol id="olCarousel" class="carousel-indicators">
                <li data-target="myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="myCarousel" data-slide-to="1"></li>
                <li data-target="myCarousel" data-slide-to="2"></li>
                <li data-target="myCarousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <span class="sprite servios0">  </span>
                </div>
                <div class="item">
                    <span class="sprite Servicios1"> </span>
                </div>
                <div class="item">
                    <span class="sprite servicios2"> </span>
                </div>
                <div class="item">
                    <span class="sprite servicios-3"> </span>
                </div>
                <div class="item">
                    <span class="sprite servicios5"> </span>
                </div>
                <div class="item">
                    <span class="sprite servicios6"> </span>
                </div>

                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </div>
        </div>
        <br />
    </div>
    <br />


    <div class="container" id="VideoYAudio">
        <div class="row" id="divRowContenido1">

            <div class="col-sm-4">
                <h3>Nuestro sistema de Pulido </h3>
                <video width="600" height="400" controls title="Pulido" allow="accelerometer" clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    <source src="~/Video/SistemaPulido.mp4" />
                    El navegador no soporta Video.
                </video>
            </div>

            <div class="col-sm-4">
                <h3>   </h3>
            </div>

            <div class="col-sm-4">
                <h3>Importancia del cambio aceite a tiempo?</h3>
                <audio controls>
                    <source src="~/Video/AudioCambioAceite.mp3">
                    El navegador no soporta audio.
                </audio>
            </div>

        </div>
    </div>

</div>
    
    @section scripts{
        <script src="~/Scripts/Usuarios/CargarDatosCliente.js"></script>
    }


