@section css{

    <link href="~/Content/CarouselSprite.css" rel="stylesheet" />
}


<div class="jumbotron">
    <h2 style="text-align:center" id="tipoUsuarioActual"></h2>
    <h3 id="Bienvenida"></h3>
    <p>
        Aqui Encontrara Las Opciones Disponibles
        Para Realizar En El Sistema Tales Como
        Listar/Crear/Modificar/Eliminar Y Generar Reportes
    </p>
    <br />

    <a href="~/Usuarios/ListaUsuario" class="btn btn-primary">Lista Usuarios</a>
    <a href="~/Vehiculos/ListaVehiculoS" class="btn btn-primary">Lista Vehiculos</a>
    <a href="~/VehiculoXcliente/ListaVehxClie" class="btn btn-primary">Lista Vehiculos Por Cliente</a>
    <a href="~/TipoVehiculo/ListaTipoVehiculos" class="btn btn-primary">Lista Tipo Vehiculos</a>
    <a href="~/MarcaVehiculo/ListaMarcaVehiculos" class="btn btn-primary">Lista Marca Vehiculos</a>
    <a href="~/PaisFabricacion/ListaPaisFabricante" class="btn btn-primary">Lista Paises</a>
    <a href="~/ServicioOProducto/ListaServicioOProducto" class="btn btn-primary">Lista Servicio Producto</a>
    <a href="~/EncabezadoFactura/ListaEncabezadoFactura" class="btn btn-primary">Lista Encabezado Factura</a>
    <a href="~/DetalleFactura/ListaDetalleFactura" class="btn btn-primary">Lista Detalle Factura</a>
    <a href="~/PaisFabricacion/GridPaisFabricacion" class="btn btn-primary"> grid Pais Fabricacion</a>
    <a href="~/MarcaVehiculo/GridMarcaVehiculo" class="btn btn-primary"> grid Marca vehiculo</a>
    <a href="~/ServicioOProducto/GridServicioOProducto" class="btn btn-primary">grid SOP</a>
    <a href="~/TipoVehiculo/GridTipoVehiculo" class="btn btn-primary"> grid tipo vehiculo</a>
    <a href="~/Vehiculos/GridVehiculos" class="btn btn-primary">grid  vehiculo</a>
    <a href="~/VehiculoXcliente/GridVehiculosXCliente" class="btn btn-primary">grid vehiculoxcliente </a>
    <a href="~/Usuarios/GridClientes" class="btn btn-primary">grid clientes</a>
    <a href="~/DetalleFactura/GridDetalleFactura" class="btn btn-primary">grid detalle Factura </a>
    <a href="~/EncabezadoFactura/GridEncabezadoFactura" class="btn btn-primary">grid encabezado Factura</a>
    <a href="~/Reportes/ReproteServicioXCliente" class="btn btn-primary">Reporte Servicio X Cliente </a>
    <a href="~/Reportes/ReproteServicioXVehiculo" class="btn btn-primary"> Reporte Servicios X Vehiculo</a>
    <a href="~/Reportes/ReporteVehiculosXCliente" class="btn btn-primary"> Reporte  vehiculos X Cliente</a>
    <br />
    <br />

    <form id="frmAppBootstrap" runat="server">
        <div class="jumbotron text-center" id="divEncabezadoPagina">
            <h1> Servicios </h1>
        </div>

        <div class="container" id="divContenendorContenido">
          
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol id="olCarousel" class="carousel-indicators">
                    <li data-target="myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="myCarousel" data-slide-to="1"></li>
                    <li data-target="myCarousel" data-slide-to="2"></li>
                    <li data-target="myCarousel" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <span class="sprite servios0">  </span>
                    </div>
                    <div class="item">
                        <span class="sprite Servicios1"> </span>
                    </div>
                    <div class="item">
                        <span class="sprite servicios2"> </span>
                    </div>
                    <div class="item">
                        <span class="sprite servicios-3"> </span>
                    </div>
                    <div class="item">
                        <span class="sprite servicios5"> </span>
                    </div>
                    <div class="item">
                        <span class="sprite servicios6"> </span>
                    </div>

                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Siguiente</span>
                    </a>
                </div>
            </div>
            <br />
        </div>
    </form>

</div>



@section scripts{
    <script src="~/Scripts/Usuarios/CargarDatosCliente.js"></script>
}


