
@{
    ViewBag.Title = "PaginaPrincipal";
}

<div class="jumbotron">
    <h2 style="text-align:center" id="tipoUsuarioActual"></h2>
    <h3 id="Bienvenida"></h3>
    <p>
        Aqui Encontrara Las Opciones Disponibles
        Para Realizar En El Sistema Tales Como
        Listar/Crear/Modificar/Eliminar Y Generar Reportes
    </p>
    <br />

    <a href="~/Usuarios/ListaUsuario" class="btn btn-primary">Lista Usuarios</a>
    <a href="~/Vehiculos/ListaVehiculoS" class="btn btn-primary">Lista Vehiculos</a>
    <a href="~/VehiculoXcliente/ListaVehxClie" class="btn btn-primary">Lista Vehiculos Por Cliente</a>
    <a href="~/TipoVehiculo/ListaTipoVehiculos" class="btn btn-primary">Lista Tipo Vehiculos</a>
    <a href="~/MarcaVehiculo/ListaMarcaVehiculos" class="btn btn-primary">Lista Marca Vehiculos</a>
    <a href="~/PaisFabricacion/ListaPaisFabricante" class="btn btn-primary">Lista Paises</a>
    <a href="~/ServicioOProducto/ListaServicioOProducto" class="btn btn-primary">Lista Servicio Producto</a>
    <a href="~/EncabezadoFactura/ListaEncabezadoFactura" class="btn btn-primary">Lista Encabezado Factura</a>
    <a href="~/DetalleFactura/ListaDetalleFactura" class="btn btn-primary">Lista Detalle Factura</a>
    <a href="~/PaisFabricacion/GridPaisFabricacion" class="btn btn-primary"> grid Pais Fabricacion</a>
    <a href="~/MarcaVehiculo/GridMarcaVehiculo" class="btn btn-primary"> grid Marca vehiculo</a>
    <a href="~/ServicioOProducto/GridServicioOProducto" class="btn btn-primary">grid SOP</a>
    <a href="~/TipoVehiculo/GridTipoVehiculo" class="btn btn-primary"> grid tipo vehiculo</a>
    <a href="~/Vehiculos/GridVehiculos" class="btn btn-primary">grid  vehiculo</a>



    <br />
    <br />
</div>

@section scripts{
    <script src="~/Scripts/Usuarios/CargarDatosCliente.js"></script>
}


