
@{
    ViewBag.Title = "ModificaServicioOProducto";
}

<div class="jumbotron">
    <h2>ModificaServicio o Producto</h2>

    <form id="frmServicioOProducto" method="post">

        <div class="form-group">
            <label>Codigo</label>
            <input type="text" name="CodigoSOP" id="CodigoSOP" class="form-control"  value="@Model.CodigoSOP"/>
        </div>

        <div class="form-group">
            <label>Precio</label>
            <input type="text" name="PrecioSOP" id="PrecioSOP" class="form-control"  value="@Model.PrecioSOP"/>
        </div>

        <div class="form-group">
            <label>Tipo </label>
            <input type="text" name="TipoSOP" id="TipoSOP" class="form-control"  value="@Model.TipoSOP" />
        </div>

        <div class="form-group">
            <label>Cliente </label> 
            <input type="text" name="idCliente" id="idCliente" class="form-control" value="@Model.idCliente"/>
        </div>

        <div class="form-group">
            <input type="submit" value="Guardar" id="btnAceptar" class="btn btn-primary" />
        </div>

        <a href="~/ServicioOProducto/ListaServicioOProducto" class="btn btn-primary">Lista Nuevo Servicio Producto </a>

    </form>
</div>

@section scripts{


    <script src="~/Scripts/ServicioProducto/ValidacionServicioProducto.js"></script>

}
