
@{
    ViewBag.Title = "EliminaTipoVehiculo";
}

<div class="jumbotron">
    <h2>Eliminar Tipo Vehiculo</h2>
    <form id="frmEliminaTipoVehiculo" method="post">

        <div class="form-group">
            <label>Codigo Vehiculo </label>
            <input type="text" name="CodigoTipoVehiculo" id="CodigoTipoVehiculo" class="form-control" value="@Model.CodigoTipoVehiculo" readonly />
        </div>

        <div class="form-group">
            <label>Tipo Vehiculo</label>
            <input type="text" name="TipoVehiculo" id="TipoVehiculo" class="form-control" value="@Model.TipoVehiculo" readonly />
        </div>

        <div class="form-group">
            <input type="submit" value="Eliminar" id="btnEliminar" class="btn btn-danger" />
        </div>
    </form>
    <a href="~/TipoVehiculo/ListaTipoVehiculos" class="btn btn-primary">Lista Tipos Vehiculo</a>
</div>




