@section css{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.blueopal.min.css" rel="stylesheet" />
}

<div class="jumbotron">
    <h2>Lista Tipos de Vehiculo </h2>
    <a href="~/TipoVehiculo/NuevoTipoVehiculo" class="btn btn-success">Agregar Tipo Vehiculo</a>
    <a href="~/Home/PaginaPrincipal" class="btn btn-primary">Pagina Principal</a>
    <br />
    <br />
    <div id="divKendoGrid">

    </div>

</div>

@section scripts{
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/jszip.min.js"></script>
    <script src="~/Scripts/scriptGenerico.js"></script>
    <script src="~/Scripts/TipoVehiculo/GridTipoVehiculo.js"></script>
  
}
