
@{
    ViewBag.Title = "ListaTipoVehiculos";
}

<div class="jumbotron">
    <h2 style="text-align:center">Lista Tipos de Vehiculos</h2>

    <a href="~/Home/PaginaPrincipal" class="btn btn-primary">Pagina Principal</a>
    <br />
    <br />
    <div class="container" style="background-color:azure;border:solid">
        <table class="table">
            <thead>
                <tr>
                    <th>Codigo Vehiculo</th>
                    <th>Tipo Vehiculo </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (MVC_ProyectoP6.Models.sp_RetornaTipoVehiculo_Result posicionModelo
                        in this.Model)
                    {
                        <tr>
                            <td> @posicionModelo.CodigoTipoVehiculo</td>
                            <td>@posicionModelo.TipoVehiculo</td>

                            <td>
                                <a href="~/TipoVehiculo/ModificaTipoVehiculo?idTipoVehiculo=@posicionModelo.idTipoVehiculo" class="btn btn-primary">Modificar</a>
                                <a href="~/TipoVehiculo/EliminaTipoVehiculo?idTipoVehiculo=@posicionModelo.idTipoVehiculo" class="btn btn-danger">Eliminar</a>

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
    <br />
    <a href="~/TipoVehiculo/NuevoTipoVehiculo" class="btn btn-success">Nuevo Tipo Vehiculo</a>
    <a href="~/TipoVehiculo/GridTipoVehiculo" class="btn btn-primary">Ver Reporte</a>
</div>




